
<div id="wrapper">
	<% if @article%>
		<div id="main">
			<div class="inner">
				<hr style="border-bottom: solid 10px #f56a6a;" >
				<% if @article.kind == 0 %>
					<% url = request.path %>
					<% cloth = Cloth.find_by(link: url) %>
					<% if cloth %>
						<a href="<%= cloth_path(cloth)%>">Truy cập bảng giá thuê trang phục <%=@article.title%> </a>
					<% end %>
				<% end %>
				<section id="banner">
					<div class="content">
						<header>
							<a href="<%= article_with_title_path(@article, :title => @article.url) %>">
								<h1><%=@article.title%></h1>
							</a>
							<p>by the Classic Studio</p>
						</header>
						<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            <hr>
						<div class="grid-css grid-css--grid" data-col-lg="5" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
              <div class="grid__inner">
                <div class="grid-sizer"></div>
                <% @article.images.each do |image| %>
                  <div class="grid-item normal">
                    <div class="grid-item__inner">  
                      <div class="grid-item__content-wrapper">
                        <div class="portfolio" href= "<%= image.name %>"><a class="portfolio__bg" href= "<%= image.name %>" style="background-image: url('<%= image.name %>');" data-effect="mfp-zoom-in"><img src="<%= image.name %>"/></a>
                        </div>
                      </div>
                    </div>
                  </div>
                <% end %>
              </div>
            </div>
						<p class="art-desc"><%=@article.description%></p>
            <div id="myDiv">
            </div>
						<hr>
						<div class="fb-like" data-href="<%= request.original_url %>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
						<div class="fb-comments" data-href="<%= request.original_url %>" data-numposts="10" data-mobile="false" data-width="100%"></div>
					</div>
				</section>
			</div>
		</div>
		<div id="sidebar">
			<div class="inner">
				<nav id="menu">
					<header class="major">
						<h2>Menu</h2>
					</header>
					<ul>
						<li><a href="/clothes">Clothes (Trang phục)</a></li>
						<li><a href="/posing">Posing (Tạo dáng)</a></li>
						<li><a href="/concept">Concept (Chủ đề)</a></li>
						<li><a href="/ask">Ask & Answer (Hỏi đáp)</a></li>
					</ul>
				</nav>
				<section>
					<header class="major">
						<h2>Bài viết liên quan</h2>
					</header>
					<div class="mini-posts">
					<% @articles_rand.each do |art| %>
						<article>
							<a class="image" href="<%= article_with_title_path(art, :title => art.url) %>">
								<% if art.images[0] %>
									<img src="<%= art.images[0].name %>" alt="" />
								<% end %>
							</a>
							<a href="<%= article_with_title_path(art, :title => art.url) %>">
								<p><%= art.title %></p>
							</a>
						</article>
						<% end %>
					</div>
					<ul class="actions">
					</ul>
				</section>
				<section>
					<div class="fb-page" data-href="https://www.facebook.com/classic.yearbook/" data-height="1500" data-width="250" data-tabs="timeline,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/classic.yearbook/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/classic.yearbook/">The Classic Studio - Kỷ yếu số 1 Đà Thành</a></blockquote></div>
				</section>
			</div>
		</div>
	<% else %>
		<h2>Nothing here</h2>
	<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
    var xmlString = <%= @article.content.to_json.to_s.html_safe %>;
    var div = document.getElementById('myDiv');
    $('#myDiv').html(xmlString);
		$("p:has(img)").css({textAlign: "center"});
  })
</script>

