<section class="md-section photo-section" id="id-7">
  <div class="container">
    <div class="info-view">
      <h2>Picture</h2>
      <h3 style="text-transform: uppercase"><%=@view.group%> - <%=@view.school%></h3>
      <p style="text-transform: uppercase"><%=@view.school_year%></p>
      <% @link.each_index do |index| %>
        <% count = index + 1 %>
        <% if index + 1 == @page.to_i %>
          <%= link_to index + 1, viewer_path(@view.code, :page => count), class: 'paginate active-pag' %>
        <% else %>
          <%= link_to index + 1, viewer_path(@view.code, :page => count), class: 'paginate' %>
        <% end %>
      <% end %>
    </div>
    <% id = @page.to_i - 1 %>
    <% reverse_link = 'https://drive.google.com/embeddedfolderview?id=' + @link[id]+ '#grid'%>
      <iframe id="filecontainer" src="<%= reverse_link %>" style="width:100%; height:600px; border:0;"></iframe>
  </div>
</section>
<script>
  $(document).ready(function(){
    $("#filecontainer").on("load", function () {
      var iframe = $('#filecontainer').contents();
      console.log(iframe.find(".flip-entry"));
      iframe.find(".flip-entry")[0].click(function(){
      alert("test");
      console.log(12);
    });
    })
  });
</script>