<div class="container">
  <section class="md-section photo-section" id="id-7">
    <div class="info-view">
      <h2>Picture</h2>
      <h3 style="text-transform: uppercase"><%=@view.group%> - <%=@view.school%></h3>
      <p style="text-transform: uppercase"><%=@view.school_year%></p>
      <% @link.each_index do |index| %>
        <% count = index + 1 %>
        <% if index + 1 == @page.to_i %>
          <%= link_to index + 1, viewer_path(@view.code, :page => count), class: 'paginate active-pag' %>
        <% else %>
          <%= link_to index + 1, viewer_path(@view.code, :page => count), class: 'paginate' %>
        <% end %>
      <% end %>
    </div>
    <% id = @page.to_i - 1 %>
    <% picture = @view.viewers.first.pictures.where(folder: @link[id])[0]%>
    <p style="margin: 0 auto">Thư mục này có <b><%=picture.pictureId.split(',').length%></b> tấm</p>
    <div class="container">
      <div class="col-sm-12">
        <div class="grid-css grid-css--grid" data-col-lg="6" data-col-md="6" data-col-sm="6" data-col-xs="1" data-gap="30">
          <div class="grid__inner">
            <div class="grid-sizer"></div>
            <% picture.pictureId.split(',').each_with_index do |pic, index| %>
              <div class="grid-item normal">
                <div class="grid-item__inner">  
                  <div class="grid-item__content-wrapper">
                    <% urlparse = "https://drive.google.com/thumbnail?id=#{pic}&sz=w300-h300"%>
                    <% urlparseHD = "https://drive.google.com/thumbnail?id=#{pic}&sz=w2048-h1365"%>
                    <div class="portfolio" href="<%= urlparseHD %>" id = "<%= index %>" >
                      <a class="portfolio__bg" href= "<%= urlparseHD %>" style="background-image: url('<%= urlparse %>');" data-effect="mfp-zoom-in">
                        <img src="" id="main_viewer" alt="classic_pictures">
                      </a>
                    </div>
                  </div>
                </div>
                <% urlparseFullHD = "https://drive.google.com/uc?export=view&id=#{pic}"%>
                <p style="text-align: center"><%= picture.name.split(',')[index] %> 
                  <a href="<%= urlparseFullHD %>" download>
                    <i class="fa fa-arrow-circle-down"></i>
                  </a>
                </p>
                <hr>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<div class="top-menu-quick">
  <div id="back-to-top"><i class="pe-7s-angle-up"></i></div>
</div>
<script>
  $(document).ready(function(){
    $(".portfolio").click(function(event) {
      var url_string1 = $(this).attr('href');
      var url1 = new URL(url_string1);
      var c1 = url1.searchParams.get("id");
      const urlparseFullHD1 = `https://drive.google.com/uc?export=view&id=${c1}`;
      var images = <%= picture.pictureId.split(',').to_json.to_s.html_safe %>;
      var btn_prev = $(`<button class="prev"><i class="fa fa-angle-left"></i></button>`);
      var btn_next = $(`<button class="next"><i class="fa fa-angle-right"></i></button>`);
      var download_btn = $(`<a id="downloadBtn" href="${urlparseFullHD1}" download><i class="fa fa-arrow-circle-down"></i></a>`);
      btn_prev.click(function(event){
        var url_string = $(".mfp-img").attr('src'); //window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("id");
        const currentIndex = images.indexOf(c);
        prev = images[currentIndex - 1];
        urlparseHD = `https://drive.google.com/thumbnail?id=${prev}&sz=w2048-h1365`;
        urlparseFullHD = `https://drive.google.com/uc?export=view&id=${prev}`;
        $(".mfp-img").attr('src', urlparseHD);
        $("#downloadBtn").attr('href', urlparseFullHD);
        event.stopImmediatePropagation();
      });
      btn_next.click(function(event){
        var url_string = $(".mfp-img").attr('src'); //window.location.href
        var url = new URL(url_string);
        var c = url.searchParams.get("id");
        const currentIndex = images.indexOf(c);
        next = images[currentIndex + 1];
        urlparseHD = `https://drive.google.com/thumbnail?id=${next}&sz=w2048-h1365`;
        urlparseFullHD = `https://drive.google.com/uc?export=view&id=${next}`;
        $(".mfp-img").attr('src', urlparseHD);
        $("#downloadBtn").attr('href', urlparseFullHD);
        event.stopImmediatePropagation();
      });
      download_btn.click(function(event){
        event.stopImmediatePropagation();
      })
      $(".mfp-container").append(btn_prev, btn_next, download_btn);
    });
    $("top-menu-quick").click(function(){
      window.scrollTo(0, 0);
    });
  });
</script>