<section class="md-section" id="id-8">
  <div class="row" style="padding: 0 2rem">
    <div class="container">
      <h3>Lịch chụp chính</h3>
      <table>
        <tr>
          <th>Ngày</th>
          <th>Số lịch chụp</th>
          <th>Danh sách hợp đồng cụ thể</th>
        </tr>
        <% @contracts.each do |keys, values| %>
        <% if keys %>
          <% if keys.to_time < Time.now.utc.strftime("%Y%m%d") %>
            <tr style="color: grey; background-color: #fafafa;">
          <% else %>
            <tr>
          <% end %>
              <td><%=keys%></td>
              <td><%=values.length%></td>
              <td>
                <% values.each do |val| %>
                <% if val.paid%>
                  <span style="color: green">
                <% else %>
                  <span>
                <% end %>
                  <% if val.photoshop %>
                    ❂
                  <% else %>
                    ~
                  <% end %>
                  <% if val.package.split(',').include?('3') || val.package.split(',').include?('2') || val.package.split(',').include?('4')%>
                    <% if val.video %>
                      ✇
                    <% else %>
                      ~
                    <% end %>
                  <% end %>
                  <%= val.group %> - <%= val.school %></span>
                  <% val.package.split(',').each do |id|
                    pack = Package.find(id)
                    if pack %>
                      <span style="color: #a14617">
                      <%= '-' + pack.name %>
                      </span>
                    <% end
                  end %>
                  <% if @check == true %>
                    <%= link_to("link", "../contracts/#{val.id}?code=#{val.code}", target: "_blank") %>
                  <% end %>
                  <% photoImages = ContractPhotographer.where(contract_id: val.id).map{|x| [x.photographer.name, x.finishImages]} %>
                  <% photoImages.each do |photoImage| %>
                    <% if photoImage[1] %>
                      <span style="color: green">  { <%= photoImage[0]%> }  </span>
                    <% else %>
                      <span style="color: red">  { <%= photoImage[0]%> }  </span>
                    <% end %>
                  <% end %>
                  <br>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
    <div class="container">
      <h3>Lịch chụp phụ</h3>
      <table>
        <tr>
          <th>Ngày</th>
          <th>Số lịch chụp</th>
          <th>Danh sách hợp đồng cụ thể</th>
        </tr>
        <% @contracts_bonus.each do |keys, values| %>
        <% if keys %>
          <% if keys.to_time < Time.now.utc.strftime("%Y%m%d") %>
            <tr style="color: grey; background-color: #fafafa;">
          <% else %>
            <tr>
          <% end %>
              <td><%=keys%></td>
              <td><%=values.length%></td>
              <td>
                <% values.each do |val| %>
                  <% if val.photoshop %>
                    ❂
                  <% else %>
                    ~
                  <% end %>
                  <% if val.package.split(',').include?('3') || val.package.split(',').include?('2') || val.package.split(',').include?('4')%>
                    <% if val.video %>
                      ✇
                    <% else %>
                      ~
                    <% end %>
                  <% end %>
                  <%= val.group %> - <%= val.school %>
                  <% if @check == true %>
                    <%= link_to("link", "../contracts/#{val.id}?code=#{val.code}") %>
                  <% end %>
                  <br>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
</section>
