<section class="md-section price-back details">
  <div class="row" style="padding: 0 2rem">
    <div class="container col-md-9">
      <div style="text-align: center;">
        <h3><%=@article.title %></h3>
        <div class="post__meta"><span class="author"><a href="#"><%=@article.key %></a></span><span class="date"><%=@article.created_at.strftime('%d/%m/%y') %></span></div>
      </div>
      <hr>
      <div class="fb-like" data-href="<%= request.original_url%>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      <div class="grid-css grid-css--grid" data-col-lg="5" data-col-md="2" data-col-sm="2" data-col-xs="1" data-gap="30">
        <div class="grid__inner">
          <div class="grid-sizer"></div>
          <% @article.images.each do |image| %>
            <div class="grid-item normal">
              <div class="grid-item__inner">  
                <div class="grid-item__content-wrapper">
                  <div class="portfolio" href= "<%= image.name %>"><a class="portfolio__bg" href= "<%= image.name %>" style="background-image: url('<%= image.name %>');" data-effect="mfp-zoom-in"><img src="<%= image.name %>"/></a>
                  </div>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
      <div class="post__body">
        <p class="post__text"><%=@article.description %></p>
        <div id="myDiv">
        </div>
        <div class="fb-like" data-href="<%= request.original_url%>" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
      </div>
      <div style="text-align: center" class="fb-comments" data-href="<%= request.original_url%>" data-numposts="5" data-mobile="true"></div>
    </div>
    <div class="col-md-3">
      <div class="fb-page" data-href="https://www.facebook.com/classic.yearbook/" data-height="700" data-tabs="timeline,events" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/classic.yearbook/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/classic.yearbook/">The Classic Studio - Kỷ yếu số 1 Đà Thành</a></blockquote></div>
    </div>
  </div>
</section>
<script type="text/javascript">
  $(document).ready(function(){
    var xmlString = <%= @article.content.to_json.to_s.html_safe %>;
    var div = document.getElementById('myDiv');
    $('#myDiv').html(xmlString);
  })
</script>